
        body {
            height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
            background-image: url('avion.jpg'); /* Ruta de la imagen de fondo */
            background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
            background-position: center; /* Centra la imagen */
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: rgba(76, 175, 80, 0.8); /* Color semi-transparente */
            padding: 10px;
            text-align: center;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 5px;
        }

        .dropdown {
            display: inline-block;
            position: relative;
        }

        .dropbtn {
            background-color: rgba(76, 175, 80, 0.8); /* Color semi-transparente */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .content {
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #4CAF50;
        }

        .button {
            background-color: rgba(76, 175, 80, 0.8); /* Color semi-transparente */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .button:hover {
            background-color: rgba(69, 160, 73, 0.8); /* Color semi-transparente */
        }

        .info-panel {
            background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-top: 50px;
        }

        .testimonios {
            margin-top: 50px;
            background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 50px;
        }

        .testimonios form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            resize: vertical;
        }

        .testimonios form button {
            background-color: rgba(76, 175, 80, 0.8); /* Color semi-transparente */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Estilo del contenedor */
        .datetime-container {
            width: 300px; /* Establece un ancho específico */
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
            background: rgba(34, 34, 34, 0.8); /* Fondo semi-transparente */
            text-align: center; /* Centra el contenido dentro del contenedor */
            margin-left: 39%;
        }

        /* Estilo de la hora */
        .time {
            font-size: 2.5em;
            font-weight: bold;
            margin-bottom: 10px;
            color: #4CAF50;
            animation: fadeIn 2s ease-out forwards;
        }

        /* Estilo de la fecha */
        .date {
            font-size: 1.2em;
            font-weight: 300;
            color: #aaa;
            animation: fadeIn 2s ease-out forwards;
        }

        /* Animación de aparición */
        @keyframes fadeIn {
            0% { opacity: 0; transform: translateY(-20px); }
            100% { opacity: 1; transform: translateY(0); }
        }